body {
    background-color: blue;
}

.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: linear-gradient(0deg, rgba(99,174,222,1) 0%, rgba(22,11,126,1) 100%);
    background-size: cover;
    background-position: center center;
}

.full-height {
    height: 100%;
}
